.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 60px;  
    text-align: center;  
}

.custom-checkbox.checked {
    background-color: #007bff;
    color: #fff;
}