#rating{border:none;float:left;}
#rating>input{display:none;} 
#rating>label:before{margin:0px 5px;font-size:30px;line-height: 1px; display:inline-block;content:"★";}  
#rating>label{color:#ddd;float:right;cursor: pointer;}  
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#FFD700;} 
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#FFED85;}